html {
    font-family: "Playfair Display", serif;
    font-size: 100%;
  }
  #navbar {
    top: 0;
    left: 0;
    position: fixed;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 12vw;
    font-size: 120%;
    
  }
  @media (max-width: 1500px) {
    #navbar {
      font-size: 15px;
    }
  }
  @media (max-width: 800px) {
    #navbar {
      display: none;
    }
  }
  #title {
    box-shadow: 10px 15px 20px grey;
    height: 120px;
  }
  .nav-link {
    line-height: 2em;
    flex-grow: 1;
    width: 12vw;
    height: 80px;
    box-shadow: 10px 15px 20px grey;
    text-decoration: none;
    color: black;
    padding: 3.7rem 0 0 0;
  }
  
  
  #main-doc {
    padding: 0 0 0 17%;
    line-height: 2em;
  }
  
  @media (min-width: 1200px) {
    #main-doc {
      margin: 0 400px 0 0px;
    }
  }
  @media (max-width: 800px) {
    #main-doc {
      padding: 0 0 0 5%;
    }
  }
  
  